{{ if .IsHome }}
<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"Organization",
    "name":"Ethical Frenchie LLC",
    "url":"https://ethicalfrenchie.com/",
    "logo":"https://ethicalfrenchie.com/images/logo.png",
    "sameAs":[
        "https://www.facebook.com/ethicalfrenchie",
        "https://www.instagram.com/ethicalfrenchie"
    ],
    "contactPoint":[
        {
            "@type":"ContactPoint",
            "telephone":"+1.212.739.0182",
            "contactType":"customer support"
        }
    ]
}
</script>
<script type="application/ld+json">
{
    "@context":"http://schema.org",
    "@type":"WebSite",
    "url":"https://ethicalfrenchie.com/",
    "name":"Ethical Frenchie",
    "alternateName":"French Bulldog Breeder",
    "headline":"Ethical Frenchie | French Bulldog Breeder | New York City",
    "image":"https://ethicalfrenchie.com/images/Ethical_Frenchie_Home_Picture.jpg",
    "author": "James Harrison",
    "description":"Small French Bulldog Breeder with a focus on socialization, health and temperament. Call 212 739 0182 to meet our adorable French Bulldog Puppies for sale.",
    "keywords":[
        "French Bulldog Breeder",
        "French Bulldog Puppies for sale New York",
        "French Bulldog",
        "Bulldog",
        "Bulldog Breeder",
        "Bulldog Puppies",
        "French Bulldog New York",
        "French Bulldog Puppies"
    ]
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
	"@graph": [
        {
            "@context": "https://schema.org",
            "@type":"SiteNavigationElement",
            "name": "Home",
            "url": "https://ethicalfrenchie.com/"
        },
        {
            "@context": "https://schema.org",
            "@type":"SiteNavigationElement",
            "name": "About Us",
            "url": "https://ethicalfrenchie.com/about-us"
        },
        {
            "@context": "https://schema.org",
            "@type":"SiteNavigationElement",
            "name": "Puppies",
            "url": "https://ethicalfrenchie.com/puppies/"
        },
        {
            "@context": "https://schema.org",
            "@type":"SiteNavigationElement",
            "name": "Our Blog",
            "url": "https://ethicalfrenchie.com/blog/"
        },
        {
            "@context": "https://schema.org",
            "@type":"SiteNavigationElement",
            "name": "Contact",
            "url": "https://ethicalfrenchie.com/contact-us/"
        }
    ]
}
</script>
<script type="application/ld+json">
{ 
    "@context": "https://schema.org", 
    "@type": "Article",
    "headline": "French Bulldog Puppies for Sale in New York",
    "alternativeHeadline": "Are you looking for French Bulldog Puppies for sale in New York or surrounding areas? Welcome to Ethical Frenchie.",
    "image": "https://ethicalfrenchie.com/images/Ethical_Frenchie_Home_Picture.jpg",
    "author": "James Harrison", 
    "keywords":[
        "French Bulldog Breeder",
        "French Bulldog Puppies for sale New York"
    ],
    "publisher": {
        "@type": "Organization",
        "name": "Ethical Frenchie LLC",
        "logo": {
            "@type": "ImageObject",
            "url": "https://ethicalfrenchie.com/images/logo.png"
        }
    },
    "url": "https://ethicalfrenchie.com/",
    "datePublished": "2015-09-20",
    "dateCreated": "2015-09-20",
    "dateModified": "2015-09-20",
    "description": "Small French Bulldog Breeder with a focus on socialization, health and temperament. Call 212 739 0182 to meet our adorable French Bulldog Puppies for sale.",
    "articleBody": "Ethical Frenchie is a small, family owned breeding program. Health, temperament and socialization are our priority. We breed standard as well as exotic colors, with a focus on blue French Bulldog puppies for sale. Feel free to browse our website and ask as many questions as possible. It’s important to research the breed and make sure it’s a good match for you and your lifestyle."
}
</script>
<script type="application/ld+json">
    { 
        "@context": "https://schema.org", 
        "@type": "Article",
        "headline": "Healthy Frenchie Gaurantee",
        "image": {
            "@type": "ImageObject",
            "url": "https://ethicalfrenchie.com/images/healthy.png"
        },
        "author": "James Harrison", 
        "keywords": [
            "Healthy Frenchie Gaurantee"
        ],
        "publisher": {
            "@type": "Organization",
            "name": "Ethical Frenchie LLC",
            "logo": {
                "@type": "ImageObject",
                "url": "https://ethicalfrenchie.com/images/logo.png"
            }
        },
        "url": "https://ethicalfrenchie.com/",
        "datePublished": "2015-09-20",
        "dateCreated": "2015-09-20",
        "dateModified": "2015-09-20",
        "articleBody": "Being an ethical French Bulldog Breeder requires a lot of preparation and health testing before producing a litter. Click here to learn more about the measures we implement prior to breeding and while whelping a French Bulldog litter. Just like with every animal, there aren’t any life long guarantees, but we like to do our best to produce the healthiest French Bulldog Puppies."
    }
</script>
<script type="application/ld+json">
    { 
        "@context": "https://schema.org", 
        "@type": "Article",
        "headline": "Early Puppy Socialization",
        "image": {
            "@type": "ImageObject",
            "url": "https://ethicalfrenchie.com/images/socialization.png"
        },
        "author": "James Harrison", 
        "keywords": [
            "Early Puppy Socialization"
        ],
        "publisher": {
            "@type": "Organization",
            "name": "Ethical Frenchie LLC",
            "logo": {
                "@type": "ImageObject",
                "url": "https://ethicalfrenchie.com/images/logo.png"
            }
        },
        "url": "https://ethicalfrenchie.com/",
        "datePublished": "2015-09-20",
        "dateCreated": "2015-09-20",
        "dateModified": "2015-09-20",
        "articleBody": "Every French Bulldog breeder knows that early socialization plays a huge role in dog’s life. We implement different steps and techniques to make sure the puppy’s transition to it’s furever home is as smooth as possible. If the French Bulldog puppies are properly socialized they develop into a stable adult with a sweet, comical and loving personality."
    }
</script>
<script type="application/ld+json">
    { 
        "@context": "https://schema.org", 
        "@type": "Article",
        "headline": "Adopt a Frenchie = Save an Animal",
        "image": {
            "@type": "ImageObject",
            "url": "https://ethicalfrenchie.com/images/buy.png"
        },
        "author": "James Harrison", 
        "keywords": [
            "Adopt a Frenchie = Save an Animal"
        ],
        "publisher": {
            "@type": "Organization",
            "name": "Ethical Frenchie LLC",
            "logo": {
                "@type": "ImageObject",
                "url": "https://ethicalfrenchie.com/images/logo.png"
            }
        },
        "url": "https://ethicalfrenchie.com/",
        "datePublished": "2015-09-20",
        "dateCreated": "2015-09-20",
        "dateModified": "2015-09-20",
        "articleBody": "We believe adopting should be a first option, but also know that’s not always possible. Since we donate to local shelters, you can rest comfortably knowing that purchasing French Bulldog puppies from Ethical Frenchie, sparks a true butterfly effect. We work hard to ensure that our French Bulldog puppies not only get the best home, but also help a not so lucky puppy get basic care."
    }
</script>
<script type="application/ld+json">
    { 
        "@context": "https://schema.org", 
        "@type": "Article",
        "headline": "Our French Bulldog Puppies for Sale in New York",
        "author": "James Harrison", 
        "keywords": [
            "Our French Bulldog Puppies for Sale in New York"
        ],
        "publisher": {
            "@type": "Organization",
            "name": "Ethical Frenchie LLC",
            "logo": {
                "@type": "ImageObject",
                "url": "https://ethicalfrenchie.com/images/logo.png"
            }
        },
        "url": "https://ethicalfrenchie.com/",
        "datePublished": "2015-09-20",
        "dateCreated": "2015-09-20",
        "dateModified": "2015-09-20",
        "articleBody": "Click below to meet our adorable French Bulldog Puppies for sale in New York as well as inquire about future litters. Breeding French Bulldogs is not a piece of cake, and we work hard year round to produce multiple litters of standard and exotic colors. We like to place our dogs in homes where they will be treated with kindness, patience, love and respect, so make sure you research the breed before deciding to take the next step."
    }
</script>
{{ else if eq .Params.page_type "about-us" }}
    <meta content="this is about">
{{ else if eq .Params.page_type "puppy-list" }}

{{ else if eq .Params.page_type "puppy" }}

{{ else if eq .Params.page_type "blog-list" }}

{{ else if or (eq .Params.page_type "blog") (eq .Params.page_type "old-blog")  }}
<script type="application/ld+json">
{ 
    "@context": "https://schema.org", 
    "@type": "BlogPosting",
    "headline": {{.Params.title}},
    "image": {{ if eq .Params.page_type "blog" }}{{ printf "%s" .Params.asset.image | absURL }}{{ else }}{{ printf "/images%s" .Params.asset.image | absURL }}{{ end }},
    "keywords": {{ .Params.categories }},
    "publisher": {
    	"@type": "Organization",
        "name":"Ethical Frenchie LLC",
        "url":"https://ethicalfrenchie.com/",
        "logo":"https://ethicalfrenchie.com/images/logo.png",
        "sameAs":[
            "https://www.facebook.com/ethicalfrenchie",
            "https://www.instagram.com/ethicalfrenchie"
        ],
        "contactPoint":[
            {
                "@type":"ContactPoint",
                "telephone":"+1.212.739.0182",
                "contactType":"customer support"
            }
        ]
    },
    "url": {{ .Permalink }},
    "dateCreated": {{ .Params.date }},
    "datePublished": {{ .Params.date }},
    "dateModified": {{ .Params.date }},
    "description": {{ .Params.description }},
    "inLanguage": "en-US",
    "author": {
        "@type": "Person",
        "name": {{ .Params.author }}
    },
    "articleBody": {{ .Content }}
}
</script>
{{ else if eq .Params.page_type "contact-us" }}
<meta content="this is contact">
{{ end }}